<p>gender blender was correct! added to training data</p>

<%= link_to 'See Classifier Data', classifier_path                   %> |
<%= link_to 'Train Computer',      new_trainer_path                  %>
<%= link_to 'Be a Contestant', new_contestant_path %>
<%= link_to 'Trainers List', trainers_path %>