// Place all the styles related to the Contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bg {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1
}
.footer {
  font-size: 30px;
  color: white;
}
#jumbotron-title {
  padding: 30px 15px;
  margin-top: 25px;
  margin-bottom: 30px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 200px; 
  -moz-border-radius: 200px; 
  border-radius: 200px;
  color: white;
  font-size: 4em;
  text-shadow: black 0.3em 0.3em 0.3em;
}
.jumbotron-prediction {
  padding: 30px 15px;
  margin-top: 150px;
  margin-bottom: 30px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 200px; 
  -moz-border-radius: 200px; 
  border-radius: 200px;
  color: white;
  font-size: 3em;
  text-shadow: black 0.3em 0.3em 0.3em;
}
.carnival-button {
  width: 10em;
  background-image: url(http://i.imgur.com/WhBQgn6.png?2) no-repeat center center fixed;
  -webkit-border-radius: 200px; 
  -moz-border-radius: 200px; 
  border-radius: 200px;
  color: white;
  font-size: 1em;
  text-shadow: black 0.3em 0.3em 0.3em;
}
.title-button {
  width: 5em;
  background-image: url(http://i.imgur.com/WhBQgn6.png?2) no-repeat center center fixed;
  -webkit-border-radius: 200px; 
  -moz-border-radius: 200px; 
  border-radius: 200px;
  color: white;
  font-size: 1em;
  text-shadow: black 0.3em 0.3em 0.3em;
}
.chart {
  margin: auto;
   th {
    padding: 10px;
  }
}
.text-input {
  color: black;
}
.title {
  font-size: 125px;
}
.classifier {
  padding-right: 1000px;
     th {
    padding: 50px;
  }
}
#prediction {
  font-size: 3em;
}
.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


