// Place all the styles related to the Contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.prediction-button {
  width: 8em;
}
#prediction {
  color: red;
}
.grey-link {
  color: grey;
}

.jumbotron {
  margin-top: 100px;
}

.chart {
  margin: auto;
   th {
    padding: 10px;
  }
}

